<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>General Statistics about Squirrels' Sightings</title>
  </head>
  <body style="background-color:#ff66ff;">  
  <h1 class="display-3">Specific Aspects for Squirrel Sightings</h1>
    <h4><em>This is a page showing five specific aspects for squirrels' sightings.</em></h4>
    <br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <p style="font-size:160%;"><strong>Statistics for Whether the Squirrel is Climbing:</strong></p>
              {% for values in stats_for_climbing %}
                 {% for key, val in values.items %}
		 <p><strong>{{key}}</strong>:{{val}}</p>
	         {% endfor %}
          {% endfor%}

	  <p style="font-size:160%;"><strong>Statistics for Shift:</strong></p>
	  {% for values in stats_for_shift %}
                 {% for key, val in values.items %}
                 <p><strong>{{key}}</strong>:{{val}}</p>
		 {% endfor %}
          {% endfor%}

	  <p style="font-size:160%;"><strong>Statistics for Whether the Squirrel is Running:</strong></p>
	  {% for values in stats_for_running %}
                 {% for key, val in values.items %}
                 <p><strong>{{key}}</strong>:{{val}}</p>
		 {% endfor %}
          {% endfor%}

	  <p style="font-size:160%;"><strong>Statistics for the Primary Fur Color:</strong></p>
	  {% for values in stats_for_primary_fur_color %}
                 {% for key, val in values.items %}
                    <p><strong>{{key}}</strong>:{{val}}</p>
                 {% endfor %}
          {% endfor%}

	  <p style="font-size:160%;"><strong>Statistics for Whether the Tail Twichtes:</strong></p>
	  {% for values in stats_for_tail_twitches %}
                 {% for key, val in values.items %}
                    <p><strong>{{key}}</strong>:{{val}}</p>
                 {% endfor %}
          {% endfor%}
  </body>
</html>


